<div class="container">
    <div class="logo">
        <h1>Oxford Health <span>NHS</span></h1>
        <h3>NHS Foundation Trust</h3>
    </div>
    <div class="formBx">
        <form [formGroup]="ResetForm" autocomplete="off" (ngSubmit)="Submit()">
            <div class="btn">
                <p>RESET PASSWORD (By ADMIN Only)</p>
            </div>
            <div class="input">
                <div class="inputBx">
                    <label>User ID : </label>
                    <input type="text" formControlName="userid" [(ngModel)]="userId">
                </div>
                <p class="errorMsg" *ngIf="userid && userid.invalid && userid.touched">*Pls fill valid User id</p>
            </div>
            <div class="input">
                <div class="inputBx">
                    <label>New Password : </label>
                    <input type="text" formControlName="newpassword">
                </div>
                <p class="errorMsg" *ngIf="newpassword && newpassword.invalid && newpassword.touched">*Pls fill valid New Password</p>
            </div>
            <div class="input">
                <div class="inputBx">
                    <label>Confirm Password : </label>
                    <input type="text" formControlName="confirmpassword">
                </div>
                <p class="errorMsg" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">*Pls fill valid Confirm Password</p>
            </div>
            <div class="btn">
                <button type="submit" [disabled]="!ResetForm.valid">Reset Password</button>
            </div>
            <div class="btn">
                <a (click)="cancleForm()">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div class="confirmPopup" *ngIf="confPasswordMatch">
    <h4>{{popupMsg}}</h4>
</div>
